# Ignore binary output files
/bin/*
/build/*
/*.exe

# Ignore object files
**/*.o

# Ignore IDE specific files
.vscode/**/*
.idea/

# Ignore temporary files from editors
*~

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Windows PowerShell profile
init.ps1

#ignore Temp Folder
/temp/*

# keep
!*/

#db
db/*
!db/.gitkeep